.toTopBtn {
  padding: 0.75rem;
  border-radius: 100vmax;
  position: fixed;
  bottom: 35px;
  right: 35px;
  mask-image: linear-gradient(
    rgba(125, 125, 125, 0.75),
    rgba(125, 125, 125, 0.75)
  );
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.active {
  opacity: 1;
}

.toTopBtn:hover {
  cursor: pointer;
  mask-image: linear-gradient(rgba(125, 125, 125, 1), rgba(125, 125, 125, 1));
}
