.card {
  display: grid;
  gap: 1rem;
  place-content: center;
  place-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(125, 125, 125, 0.1),
    0 3px 30px 0 rgba(125, 125, 125, 0.1);
}

.light {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skillLogo {
  max-width: 60px;
}

@media (min-width: 60em) {
  .skillLogo {
    max-width: 75px;
  }
}
