.skills-wrapper {
  max-width: 600px;
  margin-inline: auto;
  display: grid;
  text-align: center;
  gap: 2rem;
}

.skillCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  grid-auto-rows: 130px;
  justify-content: space-evenly;
  gap: 1.5rem;
}

@media (min-width: 60em) {
  .skills-wrapper {
    gap: 3rem;
    max-width: 900px;
  }

  .skillCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 155px);
    grid-auto-rows: 155px;
    gap: 2rem;
  }
}
